.bg-roommates {
    background-color: #5e72e4; /* Example color */
    color: #fff;
}
.bg-food-expense {
    background-color: #2dce89; /* Example color */
    color: #fff;
}
.bg-pub-bill {
    background-color: #f5365c; /* Example color */
    color: #fff;
}
